<h1>Delete page</h1>
<p>
  Are you sure want to delete User: <%= `@${user.username} ${user.firstName}
  ${user.lastName} ` %>
</p>
<form action="/users/delete" method="post">
  <input type="hidden" name="id" value="<%= user.id %>" />
  <button type="submit" class="btn">Delete</button>
</form>
<p><a class="back-link" href="/users">back to Users page</a></p>
