<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Create User</title>
    <link rel="stylesheet" href="/assets/styles.css" />
    <link rel="stylesheet" href="/assets/form.css" />
  </head>
  <body>
    <%- include('./partials/navbar.ejs') %>
    <div class="container">
      <% if (data.message) { %>

      <div class="alert" id="alert">
        <span> <%- data.message %> </span>
        <button class="close-btn" onclick="closeAlert()">X</button>
      </div>
      <% } %>
      <div class="item-cards">
        <div class="item-card">
          <a href="/users">
            <h2>Foydalanuvchilar</h2>
          </a>
          <a href="/users/create" class="btn">Create User</a>
        </div>
        <div class="item-card">
          <a href="/guides">
            <h2>Qoidalar</h2>
          </a>
          <a href="/guides/create" class="btn">Create User</a>
        </div>
      </div>
    </div>

    <script>
      function closeAlert() {
        var alert = document.getElementById("alert");
        alert.style.display = "none";
      }
    </script>
  </body>
</html>
