<div class="item-cards">
  <% if (currentUser) { %>
  <br />
  <div class="item-card">
    <a href="/guides">
      <h2>Guides</h2>
    </a>
    <br />
  </div>
  <div class="item-card">
    <a href="/todoes">
      <h2>Todoes</h2>
    </a>
    <br />
  </div>
  <div class="item-card">
    <a href="/users/<%= currentUser.id %>">
      <h2>My Proile</h2>
    </a>
    <br />
    <a href="/auth/logout" class="btn">Logout</a>
  </div>
  <% } else { %>
  <div class="item-card">
    <a href="/auth/login">
      <h2>Login</h2>
    </a>
  </div>
  <% } %>
</div>
