<h1>Delete page</h1>
<p>
  Are you sure want to delete Todo: [ <%= todo.guide.title%> => <%=
  `${todo.user.firstName} ${todo.user.lastName}` %> ]
</p>
<form action="/todoes/delete" method="post">
  <input type="hidden" name="id" value="<%= todo.id %>" />
  <button type="submit" class="btn">Delete</button>
</form>
<p><a class="back-link" href="/todoes">back to Todoes page</a></p>
