<br>
<div class="container">
  <div class="form-container">
    <h2>Edit author</h2>
    <form action="/authors/<%= author.id %>/edit" method="POST">
      <div class="form-group">
        <label for="name">Name:</label>
        <input
          type="text"
          id="name"
          name="name"
          value="<%= author.name %>"
          required
        />
      </div>
      <div class="form-group">
        <input type="submit" value="Edit" />
      </div>
    </form>
  </div>
</div>
