<main>
  <section class="todo-detail">
    <div class="item-info">
      <h2><%= todo.guide.title %></h2>
      <div>
        <p id="last-name"><%= todo.guide.content %></p>
      </div>
      <br />
      <form action="/todoes/<%= todo.id %>/read" method="post">
        <% if (todo.compleated) { %>
        <button class="btn delete" type="submit" disabled>Already read</button>
        <% } else { %>
        <button class="btn" type="submit">Mark as read</button>
        <% } %>
      </form>
    </div>
  </section>
</main>
