<div class="form-container">
  <h2>Edit Guide</h2>
  <form action="/guides/<%= guide.id %>/edit" method="POST">
    <div class="form-group">
      <label for="title">Title:</label>
      <input
        type="text"
        id="title"
        name="title"
        value="<%= guide.title %>"
        required
      />
    </div>
    <div class="form-group">
      <label for="content">Last Name:</label>
      <textarea type="text" id="content" name="content" required>
<%- guide.content %></textarea
      >
    </div>
    <div class="form-group">
      <label for="send_others">Send to Others</label>
      <select name="send_others" id="send_others">
        <option value="false">No</option>
        <option value="true">Yes</option>
      </select>
    </div>
    <div class="form-group">
      <input type="submit" value="Edit" />
    </div>
  </form>
</div>
