<!-- navbar start -->
<nav>
  <div class="navbar">
    <div class="container nav-container">
      <input class="checkbox" type="checkbox" name="" id="" />
      <div class="hamburger-lines">
        <span class="line line1"></span>
        <span class="line line2"></span>
        <span class="line line3"></span>
      </div>
      <div class="logo">
        <h1>Book Store</h1>
      </div>
      <div class="menu-items">
        <li><a href="/">Home</a></li>
          <% if (currentUser.role==='admin') { %>
        <li><a href="/users">Users</a></li>
        <% } %>
        <li><a href="/authors">Authors</a></li>
        <li><a href="/categories">Categories</a></li>
        <% if (currentUser.role!=='guest') { %>
          <li><a href="/orders">Orders</a></li>
        <!-- <li><a href="/users/<%# currentUser.id %>">My Profile</a></li> -->
        <form action="/auth/logout" method="post">
          <li><button type="submit" >Logout</button></li>
        </form>
        <% } else { %>
        <li><a href="/auth/login">Login</a> or <a href="/auth/register">Register</a></li>
        <% } %>
      </div>
    </div>
  </div>
</nav>
<!-- navbar end -->
