<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Create Guide</title>
    <link rel="stylesheet" href="/assets/styles.css" />
    <link rel="stylesheet" href="/assets/form.css" />
  </head>
  <body>
    <%- include('../partials/navbar.ejs') %>
    <div class="breadcrumb">
      <span class="breadcrumb-item"><a href="/">Home</a></span
      >/ <span class="breadcrumb-item"><a href="/guides">Guides</a></span
      >/
      <span class="breadcrumb-item">Detail</span>
    </div>
    <div class="container">
      <% if (data.message) { %>

      <div class="alert" id="alert">
        <span><%- data.message %> </span>
        <button class="close-btn" onclick="closeAlert()">X</button>
      </div>
      <% } %>
      <main>
        <section class="guide-detail">
          <div class="item-info">
            <h2>Guide Information</h2>
            <div>
              <strong>Title:</strong>
              <span id="first-name"><%= guide.title %></span>
            </div>
            <div>
              <strong>Content:</strong>
              <span id="last-name"><%- guide.content %></span>
            </div>
            <br />
          </div>
        </section>
      </main>
    </div>
  </body>
</html>
