<main>
  <section class="guide-detail">
    <div class="item-info">
      <h2>Guide Information</h2>
      <div>
        <strong>Title:</strong>
        <span id="first-name"><%= guide.title %></span>
      </div>
      <div>
        <strong>Content:</strong>
        <span id="last-name"><%- guide.content %></span>
      </div>
      <br />
    </div>
  </section>
</main>
