<main>
  <section class="item-list">
    <h2>All Guides</h2>
    <div class="item-cards">
      <% guides.forEach(guide => { %>
      <div class="item-card">
        <a href="/guides/<%= guide.id %>">
          <h3><%= guide.title %></h3>
          <p>
            <%- guide.content.length > 100 ? guide.content.slice(0,60)+'.....':
            guide.content %>
          </p>
        </a>
        <br />
      </div>

      <% }) %>
    </div>
  </section>
</main>
