<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login</title>
    <link rel="stylesheet" href="/assets/styles.css" />
    <style>
      body {
        font-family: Arial, sans-serif;
        background-color: #f4f4f4;
      }

      .container {
        max-width: 400px;
        margin: 100px auto;
        padding: 20px;
        background-color: #fff;
        border-radius: 5px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
      }

      h2 {
        text-align: center;
        margin-bottom: 20px;
      }

      .form-group {
        margin-bottom: 20px;
      }

      label {
        display: block;
        margin-bottom: 5px;
      }

      input[type="text"],
      input[type="password"] {
        width: 100%;
        padding: 8px;
        border: 1px solid #ccc;
        border-radius: 4px;
      }

      input[type="submit"] {
        width: 100%;
        padding: 10px;
        background-color: #007bff;
        color: #fff;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        transition: background-color 0.3s ease;
      }

      input[type="submit"]:hover {
        background-color: #0056b3;
      }

      .error-message {
        color: red;
      }
    </style>
  </head>
  <body>
    <div class="container">
      <% if (data.message) { %>
      <br />
      <div class="alert" id="alert">
        <span> <%- data.message %> </span>
        <button class="close-btn" onclick="closeAlert()">X</button>
      </div>
      <% } %>
      <h2>Login</h2>
      <form action="/auth/login" method="POST">
        <div class="form-group">
          <label for="username">Username:</label>
          <input type="text" id="username" name="username" required />
        </div>
        <div class="form-group">
          <label for="password">Password:</label>
          <input type="password" id="password" name="password" required />
        </div>
        <div class="form-group">
          <input type="submit" value="Login" />
        </div>
        <div class="error-message"></div>
      </form>
    </div><%= sdfas %>
    <script>
      function closeAlert() {
        var alert = document.getElementById("alert");
        alert.style.display = "none";
      }
    </script>
  </body>
</html>
