<main>
  <section class="category-detail">
    <div class="item-info">
      <h2>Category Information</h2>
      <div>
        <strong>Title:</strong>
        <span id="first-name"><%= category.title %></span>
      </div>
      <div>
        <strong>Content:</strong>
        <span id="last-name"><%- category.content %></span>
      </div>
      <br />
      <a class="btn edit" href="/categories/<%= category.id %>/edit">Edit</a>
      <br />
      <br />
      <a class="btn delete" href="/categories/<%= category.id %>/delete"> Delete </a>
    </div>
  </section>
</main>
