<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title || "User Manegment System" %></title>
    <link rel="stylesheet" href="/assets/styles.css" />
    <link rel="stylesheet" href="/assets/form.css" />
  </head>
  <body>
    <%- include('../partials/navbar.ejs') %>
    <div class="container">
      <%- include('../partials/alerts') %>
      <%- body %>
    </div>
    <script>
      function closeAlert(alertId) {
        var alert = document.getElementById("alert" + alertId);
        alert.style.display = "none";
      }
    </script>
  </body>
</html>
