<main>
  <section class="car-list">
    <div class="car-box">
        <a href="/car/${{id}}"></a>
      <img
        src="${{image}}"
        alt="${{title}}"
      />
      <h2>${{title}}</h2>
      <p>${{description}}</p>
    </div>
    <div class="car-box">
      <img
        src="https://hips.hearstapps.com/hmg-prod/images/bmw-m5-touring-rendering-6578b8a34ce4b.jpg?crop=1.00xw:0.994xh;0,0.00562xh&resize=980:*"
        alt="Car 2"
      />
      <h2>Car 2</h2>
      <p>Description of Car 2</p>
    </div>
    <!-- Add more car boxes as needed -->
  </section>
</main>
